/* common styles  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* main font add  */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* main font add  */

/* shared styles  */
.display-flex{
  display: flex;
}

.section-title{
  font-size: 2.8rem;
  font-weight: 700;
}

.text-primary{
  color: #FF900E;
}

.text-grey{
  color: #424242;
}

.text-light-grey{
  color: #727272;
}

.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
  background-color: #FF900E;
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  padding: 20px 25px;
  border-radius: 8px;
  cursor: pointer;
}

main{
  max-width: 1440px;
  margin: 0 auto;
}

main > section{
  margin-top: 130px;
}

/* header styles  */



/* navbar related styles  */
.navbar{
  padding-top: 50px;
  padding-bottom: 100px;
  justify-content: space-between;
  align-items: center;
}

.brand{
  font-weight: 700;
  font-size: 3rem;
}

.nav-items{
  list-style: none;
  margin-right: 30px;
}

.nav-link{
  text-decoration: none;
}

.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}

/* banner related styles  */

.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-title{
  font-weight: 700;
  font-size: 4rem;
}

.banner-description{
  padding: 20px;
}

.banner-img{
  width: 100%;
}

/* team and feature related styles */
.teams{
  align-items: center;
}

.team-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.our-features{
  margin-left: 130px;
  max-width: 500px;
}

#quick-list{
  font-weight: 500;
}

/* feature section related styles  */
.feature{
  gap: 100px;
}

#feature-section-title{
  padding-left: 20px;
  border-left: 5px solid #FF900E ;
}

.feature-description{
  margin-top: 30px;
  margin-bottom: 30px;
}

.feature-card{
  padding: 30px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 8px;
}

.feature-card .feature-title{
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.card-description{
  line-height: 26px;
}



/* some fact related styles  */
.facts-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}


.fact-card{
  border: 1px solid #FF900E;
  border-radius: 8px;
  width: 240px;
  height: 240px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.fact-number{
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}

.fact-name{
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 10px;
}

.fact-description{
  max-width: 500px;
}

/* sponsor related styles  */
.sponsor-info{
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}

.sponsors-companies{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.sponsors-companies img{
  filter: grayscale(100%);
}


/* responsive media query  */

@media screen and (max-width:576px){
  .navbar, .nav-links, .teams{
    flex-direction: column;
  }

  .team-img-container, .facts-container, .sponsors-companies{
    grid-template-columns: 1fr;
  }

  .facts-container, .sponsors-companies{
    justify-items: center;
    gap: 24px;
  }

  .sponsors-companies{
    justify-items: center;
    gap: 50px;
  }

  .our-features{
  margin-left: 20px;
}

}

/* medium size device  */

@media screen and (min-width:577px) and (max-width:992px) {
  .teams{
    flex-direction: column;
  }
  .our-features{
    margin: 50px auto;
  }

  .sponsors-companies{
    grid-template-columns: repeat(3, 1fr);
    gap: 50PX;
  }
}