/* common styles  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* main font add  */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* main font add  */

/* shared styles  */
.display-flex{
  display: flex;
}

.text-grey{
  color: #424242;
}

.text-light-grey{
  color: #727272;
}

.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
  background-color: #FF900E;
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  padding: 20px 25px;
  border-radius: 8px;
  cursor: pointer;
}




/* header styles  */



/* navbar related styles  */
.navbar{
  padding-top: 50px;
  padding-bottom: 100px;
  justify-content: space-between;
  align-items: center;
}

.brand{
  font-weight: 700;
  font-size: 3rem;
}

.nav-items{
  list-style: none;
  margin-right: 30px;
}

.nav-link{
  text-decoration: none;
}

.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}

/* banner related styles  */

.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-title{
  font-weight: 700;
  font-size: 4rem;
}

.banner-description{
  padding: 20px;
}

.banner-img{
  width: 100%;
}

/* responsive media query  */

